#!/usr/bin/env python
# -*- coding: UTF-8 -*-
# the following file serves as a template for a file credentials.py which is for obvious reasons not part of the github project
# to use cypress create a copy of this file and rename it to credentials.py


consumer_token = r'INSERT_YOUR_DATA'
consumer_secret = r'INSERT_YOUR_DATA'
access_token = r'INSERT_YOUR_DATA'
access_key = r'INSERT_YOUR_DATA'
